ipykernel  # Required to use notebooks
pandas
numpy
ipywidgets<8  # Some sliders/etc
matplotlib  # A few visualizations
tqdm  # For long-running solutions
scipy  # ndimage.generic_filter!
requests # for scrape function